<section class="hero">
  <div class="content">
    <h2>Impara con i nostri corsi</h2>
    <p>
      Crediamo nei vostri sogni e per aiutarvi a realizzarli Eustema mette a
      disposizione i propri corsi realizzati da esperti nel settore, con la
      giusta teorica ma soprattutto molta pratica riuscirete ad ampliare le
      vostre competenze.
    </p>

    <div class="button-wrapper">
      <button mat-raised-button routerLink="/login">Scopri i corsi</button>
    </div>
  </div>
  <div class="waves"></div>
</section>
