<!-- <div class="hero">
    <div class="hero-text">
        <div class="text-wrapper">
            <h1 class="titolo">Impara attraverso i nostri corsi</h1>
            <h6 class="sottotitolo">Perchè noi crediamo nei vostri sogni</h6>
            <p class="paragrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum veniam laudantium, sed vel cum dolor. Dolor perspiciatis in odio animi similique saepe, aspernatur et, itaque vero quaerat veritatis reiciendis id!</p>
        </div>
        <button mat-raised-button color="primary">Scopri</button>
    </div>
    <div class="hero-image">
        <img src="../../assets/learning.svg" alt="learning image hero section">
    </div>
</div> -->

<section class="hero">
    <div class="content">
      <h2>Impara con i nostri corsi</h2>
      <p>
        Crediamo nei vostri sogni e per aiutarvi a realizzarli
        Eustema mette a disposizione i propri corsi realizzati
        da esperti nel settore, con la giusta teorica ma soprattutto
        molta pratica riuscirete ad ampliare le vostre competenze.
      </p>

      <div class="button-wrapper">
        <button mat-raised-button routerLink="/login">Scopri i corsi</button>
      </div>
      
    </div>
    <div class="waves"></div>
  </section>