<div class="page">
  <h1 class="mat-display-4">La nostra selezione di corsi</h1>
  <div class="centered">
    <div class="filters">
      <h1 class="mat-headline">Filtra i contenuti</h1>
      <form class="search-bar">
        <mat-form-field class="example-full-width">
          <span matPrefix> </span>
          <input type="tel" matInput placeholder="Cerca" name="search" [(ngModel)]="data" />
          <button matSuffix mat-button><mat-icon>search</mat-icon></button>
        </mat-form-field>
        <br />
      </form>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let user of Users | filter:data!">
          <span>
            <mat-icon>person</mat-icon>
            <span>{{ user.name }}</span>
          </span>
        </mat-list-option>
      </mat-selection-list>

      <!-- <p>
            Option selected: {{shoes.selectedOptions.selected[0]?.value}}
          </p> -->
    </div>
    <section class="cards-wrapper">
      <div class="card-wrapper" *ngFor="let course of courses">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="mat-display-3">{{
              course.titolo
            }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="{{ course.image }}"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>{{ course.body | slice: 0:200 }}...</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>${{ course.prezzo }}</button>
            <button mat-flat-button color="primary">Accedi</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
  </div>
</div>
