<div class="page">
  <div class="centered">
    <div class="cart">
      <h1>Il tuo carrello</h1>
      <hr />
      <h3>Resoconto acquisti</h3>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let course of cart!.items">
            <div class="mat-list-item-content">
                <div>{{ course.titolo }}</div> 
                <div class="price">${{ course.prezzo }}</div> 
            </div>
        </mat-list-item>
        <hr />
        <mat-list-item role="listitem">
            <div class="mat-list-item-content">
                <div><strong>Totale</strong></div> 
                <div class="price"><strong>${{ cart!.items | sum: 'prezzo' }}</strong></div> 
            </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
