<div class="page">
  <div class="full-content">
    <div class="title"><h1>DASHBOARD GENERALE</h1></div>
    <div class="wrapper">
      <router-outlet></router-outlet>
      <div class="action-list">
        <h2>Azioni</h2>
        <mat-action-list>
          <button mat-list-item [routerLink]="['/dashboard/',{ outlets: { 'admin_outlet': ['create-admin'] } }]">
            Create Admin
          </button>
          <button mat-list-item [routerLink]="['/dashboard/',{ outlets: { 'admin_outlet': ['create-course'] } }]">
            Create Course
          </button>
        </mat-action-list>
      </div>
      <div class="action-outlet">
        <router-outlet name="admin_outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>