.page {
  background-image: url("../../assets/bg-pattern.png");
  background-size: auto;
  overflow: auto;
  width: 100%;
  height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.example-card {
  max-width: 60%;
}

.mat-card-subtitle {
  opacity: 0.9;
  display: flex;
  gap: 15px;
}

mat-grid-list {
    margin-top: 9%;
}

mat-grid-tile {
  background: var(--text-light-color);
}

.mat-grid-tile-content {
    display: flex !important;
    flex-direction: column !important;
}

.learning-image {
    background-image: url('../../assets/learning-image.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Flippare questa immagine */
.practice-image {
    background-image: url('../../assets/practice-image.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}