<div class="page">
    <div class="centered">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ course?.titolo }}</mat-card-title>
                <mat-card-subtitle>
                    <p *ngFor="let tag of course?.tags">#{{ tag }}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <img class="course-image" mat-card-image src="{{ course?.image }}" alt="Photo of a Shiba Inu" />
            <mat-card-content>
                <div class="content-wrapper">
                    <div class="text-content">
                        <h2>Introduzione al corso</h2>
                        <p>
                            {{ course?.body_introduzione }}
                        </p>
                    </div>
                    <div class="charts-content">
                        <div #ContainerRef class="line-chart">
                            <h2>Grafico Github STARS</h2>
                            <ngx-charts-line-chart
                                [view]="[ContainerRef.offsetWidth, 600]"
                                [customColors]="lineChartcustomColors "
                                [legend]="legend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxis]="xAxis"
                                [yAxis]="yAxis"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [timeline]="timeline"
                                [results]="multi"    
                                >
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                    <div class="text-content">
                        <h2>Cosa imparerai</h2>
                        <p>
                            {{ course?.body_cosa_imparerai }}
                        </p>
                    </div>
                    <div class="charts-content">
                        <div class="bar-chart">
                            <h2>Grafico popolarità</h2>
                            <ngx-charts-bar-vertical
                            [view]="[ContainerRef.offsetWidth, 600]"
                            [customColors]="lineChartcustomColors "
                            [legend]="legend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxis]="xAxis"
                            [yAxis]="yAxis"
                            [xAxisLabel]="xAxisLabel_popularity"
                            [yAxisLabel]="yAxisLabel_popularity"
                            [results]="popularity_data" 
                            >
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
                
            </mat-card-content>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile class="learning-text">
                    <div class="mat-grid-tile-content">
                        <h1>Cosa imparerai</h1>
                        <h4>Ecco una lista degli argomenti che vedrai in questo corso</h4>
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let argomento of course?.cosa_imparerai">{{ argomento }}</mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="learning-image"></mat-grid-tile>
                <mat-grid-tile class="practice-image"></mat-grid-tile>
                <mat-grid-tile class="learning-text">
                    <div class="mat-grid-tile-content">
                    <h1>Crediamo nella pratica</h1>
                    <h4>Un elenco dei progetti che realizzerai con l'aiuto di un tutor</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let progetto of progetti">
                            <div [ngClass]="{
                                'easy_difficulty': progetto.difficolta === 'easy',
                                'intermediate_difficulty': progetto.difficolta === 'medium',
                                'hard_difficulty': progetto.difficolta === 'difficult'
                            }"></div>
                            {{ progetto.nome }}
                        </mat-list-item>
                        <!--<mat-list-item role="listitem"> <div class="easy_difficulty"></div> App Meteo sia Web che Mobile</mat-list-item>
                        <mat-list-item role="listitem"> <div class="intermediate_difficulty"></div> Music Player App Desktop</mat-list-item>
                        <mat-list-item role="listitem"> <div class="intermediate_difficulty"></div> App Bug Tracker</mat-list-item>
                        <mat-list-item role="listitem"> <div class="hard_difficulty"></div> Sito E-commerce completo</mat-list-item>-->
                    </mat-list>
                </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="addToCart(course!)">Aggiungi al carrello</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>