<div class="page">
    <div class="centered">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ course?.titolo }}</mat-card-title>
                <mat-card-subtitle>
                    <p *ngFor="let tag of course?.tags">#{{ tag }}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ course?.image }}" alt="Photo of a Shiba Inu" />
            <mat-card-content>
                <p>
                    {{ course?.body }}
                </p>
            </mat-card-content>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile class="learning-text">
                    <div class="mat-grid-tile-content">
                        <h1>Cosa imparerai</h1>
                        <h4>Ecco una lista degli argomenti che vedrai in questo corso</h4>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Basi di angular</mat-list-item>
                            <mat-list-item role="listitem">Routing</mat-list-item>
                            <mat-list-item role="listitem">Directives</mat-list-item>
                            <mat-list-item role="listitem">Pipes</mat-list-item>
                            <mat-list-item role="listitem">Components</mat-list-item>
                            <mat-list-item role="listitem">Services</mat-list-item>
                            <mat-list-item role="listitem">Forms</mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="learning-image"></mat-grid-tile>
                <mat-grid-tile class="practice-image"></mat-grid-tile>
                <mat-grid-tile class="learning-text">
                    <div class="mat-grid-tile-content">
                    <h1>Crediamo nella pratica</h1>
                    <h4>Un elenco dei progetti che realizzerai con l'aiuto di un tutor</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem"> <div class="easy_difficulty"></div> ToDo App</mat-list-item>
                        <mat-list-item role="listitem"> <div class="easy_difficulty"></div> App Meteo sia Web che Mobile</mat-list-item>
                        <mat-list-item role="listitem"> <div class="intermediate_difficulty"></div> Music Player App Desktop</mat-list-item>
                        <mat-list-item role="listitem"> <div class="intermediate_difficulty"></div> App Bug Tracker</mat-list-item>
                        <mat-list-item role="listitem"> <div class="hard_difficulty"></div> Sito E-commerce completo</mat-list-item>
                    </mat-list>
                </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="addToCart(course!)">Aggiungi al carrello</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>