.profile-page {
  background-image: url("../../assets/bg-pattern.png");
  background-size: auto;
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  justify-content: center;
}

.example-card {
  border-radius: 0;
}


.example-header-image {
  background-size: cover;
}

.mat-card-header .mat-card-title {
  margin-top: 7%;
}

.mat-card-content {
  margin: 20px 0;
}

/* CRONOLOGIA ACQUISTI */
.table-wrapper {
  background-color: #fefefe;
  padding: 25px;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}