<div class="profile-page">
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ username }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-label>Nome</mat-label>
        <h1>Pasquale</h1>
        <mat-label>Cognome</mat-label>
        <h1>Cannavacciuolo</h1>
        <mat-label>Data di nascita</mat-label>
        <h1>09/24/1997</h1>
        <mat-label>Username</mat-label>
        <h1>Pandorenki</h1>
        <mat-label>Email</mat-label>
        <h1>p.cannavacciuolo@icloud.com</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
