/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

:root {
    --background-color: #fefefe;
    --text-dark-color: #222;
    --text-light-color: #fefefe;
    --primary-color: #14279B;
    --secondary-color: #3D56B2;
    --secondary-high-contrast-color: #5C7AEA;
}

html, body { 
    margin: 0;
    padding: 0;
    height: 100%; 
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
